<p *ngIf="book">
  <md-card>
    <md-card-title>
      <md-toolbar color="primary">Book edit</md-toolbar>
    </md-card-title>
    <md-card-content>
        <md-grid-list cols="2" rowHeight="100px">

          <md-grid-tile>
            <md-input placeholder="title" [(ngModel)]="book.title"></md-input>
          </md-grid-tile>

          <md-grid-tile>
            <md-input placeholder="publishing date" type="date" [(ngModel)]="book.publishingDate"></md-input>
          </md-grid-tile>

          <md-grid-tile [colspan]="2">
            <md-input placeholder="descriprition" [(ngModel)]="book.description"></md-input>
          </md-grid-tile>

        </md-grid-list>

    </md-card-content>
    <md-card-footer>
      Footer

      <a routerLink="/">
        <md-icon>save</md-icon>
      </a>

    </md-card-footer>
  </md-card>
</p>
